{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": false,
    "blockBindings": true,
    "classes": true,
    "destructuring": true,
    "generators": true,
    "globalReturn": false,
    "jsx": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": false,
    "regexYFlag": false,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  },
  "rules": {
    "block-scoped-var": 2,
    "brace-style": [ 2, "1tbs", { "allowSingleLine": true } ],
    "camelcase": [ 2, { "properties": "never" } ],
    "comma-dangle": [ 2, "never" ],
    "comma-spacing": [ 2, { "before": false, "after": true } ],
    "comma-style": [ 2, "last" ],
    "dot-notation": [ 2, { "allowKeywords": true } ],
    "key-spacing": [ 2, { "beforeColon": false, "afterColon": true } ],
    "new-cap": [ 2, { "newIsCap": true } ],
    "no-multiple-empty-lines": [ 2, { "max": 2 } ],
    "no-unused-vars": [ 2, { "vars": "local", "args": "after-used" } ],
    "quotes": [ 2, "single", "avoid-escape" ],
    "react/display-name": 0,
    "react/jsx-boolean-value": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-quotes": [ 2, "double" ],
    "react/jsx-sort-prop-types": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": [ 2, "allow-in-func" ],
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": [ 2, {
      "order": [
        "displayName",
        "mixins",
        "statics",
        "propTypes",
        "getDefaultProps",
        "contextTypes",
        "childContextTypes",
        "getChildContext",
        "getInitialState",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentWillUnmount",
        "/^on.+$/",
        "/^get.+$/",
        "/^render.+$/",
        "render"
      ]
    } ],
    "react/wrap-multilines": 2
  }
}
